.dashboard-container {
  .main-page-header {
    border-bottom: 1px solid #ccd3dd;
  }
}

.dashboardcont {
  border-radius: 3px;
  background: #fff;
  margin-bottom: 75px;
}

#chart_div {
  width: 400px;
  height: 120px;
}
