/* logo */
.logo {
  width: 100%;
  max-width: 40px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: block;
  float: right;
}


// sm up
@include media-breakpoint-up(sm) {
  .logo {
    display: inline-block;
    margin-bottom: 0;
  }
}
